.card-label__container{
	position: absolute;
	bottom: 20%;
	right: 0;
}

.card-label__content{
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-color: #0d0d0d;
	color: white;
	font-size: 12px;
	font-family: 'Segoe UI';
	font-weight: bold;
	height: 40px;
	padding-inline: 50px;
}

@media screen and (max-width: 350px) {
	.card-label__container {
		bottom: 30%;
	}

	.card-label__content {
		font-size: 10px;
		height: 30px;
		padding-inline: 40px;
	}
}
